/* Fonts */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"),
		 url("../fonts/roboto.woff2") format("woff2"),
		 url("../fonts/roboto.woff") format("woff"); 
}
  @font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: local("Roboto Medium"), local("Roboto-Medium"),
		 url("../fonts/robotomedium.woff2") format("woff2"), 
		 url("../fonts/robotomedium.woff") format("woff"); 
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"),
		 url("../fonts/robotobold.woff2") format("woff2"), 
		 url("../fonts/robotobold.woff") format("woff"); 
}

/* Customs */
:root {
	--white-higher-opacity: rgba(255, 255, 255, 0.2);
	--white-high-opacity: rgba(255, 255, 255, 0.3);
	--white-opacity: rgba(255, 255, 255, 0.4);
	--white-low-opacity: rgba(255, 255, 255, 0.5);
	--white-lower-opacity: rgba(255, 255, 255, 0.7);
	--white-lowest-opacity: rgba(255, 255, 255, 0.8);
	--white: #FFFFFF;
	--white-lite: #FEFEFE;
	--white-yellow: #F8F7F4;
	--dark-white: #EDEDED;
	--darker-white: #D3D3D2;
	--grey-lite-opacity: rgba(178, 178, 178, 0.52);
	--grey-lite: #ABABAB;
	--grey: #696969;
	--grey-mailing: #5A5A5A;
	--dark-grey-pink: #2C2829;
	--dark-grey-opacity: rgba(50, 50, 50, 0.3);
	--dark-grey: #323232;
	--black-high-opacity: rgba(0, 0, 0, 0.2);
	--black-opacity: rgba(0, 0, 0, 0.4);
	--black-low-opacity: rgba(0, 0, 0, 0.07);
	--black: #000000;
	--green-opacity: rgba(248, 247, 244, 0.5);
	--blue-opacity: rgba(46, 136, 228, 0.52);
	--green-backlighter: rgba(215, 242, 227, 0.75);
	--basic-green: #849D8F;
	--blue-backlighter: rgba(218, 228, 239, 0.75);
	--basic-blue: #8996A6;
	--chocolate-backlighter: rgba(239, 224, 218, 0.75);
	--basic-chocolate: #9D8B84;
	--orange-lite-opacity: rgba(255, 188, 158, 0.3);
	--orange-opacity: rgba(232, 77, 55, 0.3);
	--red-opacity: rgba(172, 16, 0, 0.64);
	--dark-red-opacity: rgba(160, 32, 11, 0.76);
	--darker-red-opacity: rgba(85, 8, 0, 0.54);
	--orange-liter: #FBDED7;
	--orang-lite: #F6B5A5;
	--orange-dim-lite: #FFBC9E;
	--orange-dim: #D07058;
	--orange: #F26843;
	--dark-orange: #E74A35;
	--darker-orange: #E84D37;
	--red: #AC1000;
	--dark-red: #942718;
}

/* Global */
.page-body {
	font-family: "Roboto", "Arial", sans-serif;
	color: var(--white);
	font-size: 16px;
	line-height: 22px;
	font-weight: 700;
	margin: 0;
	padding: 0;
}

.center {
	width: 1146px;
	margin: 0 auto;
}

.page-background-green {
	background-color: var(--basic-green);
}

.page-background-blue {
	background-color: var(--basic-blue);
}

.page-background-chocolate {
	background-color: var(--basic-chocolate);
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;	
}

a {
	text-decoration: none;
	color: var(--white);
}

img {
	max-width: 100%;
	height: auto;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 26px;
}

.pointer {
	cursor: pointer;
}

/* Buttons */
.button {
	font-size: 18px;
	line-height: 24px;
	border-radius: 70px;
	text-shadow: 0px 2px 5px var(--dark-red-opacity);
	background-image: linear-gradient(180deg, var(--orange) 0%, var(--dark-orange) 100%);
	box-shadow: 0px 2px 2px var(--red-opacity);
}

.button:hover {
	background-image: 
		linear-gradient(0deg, var(--white-higher-opacity), var(--white-higher-opacity)), 
		linear-gradient(180deg, var(--orange) 0%, var(--dark-orange) 100%);
	box-shadow: 0px 2px 2px var(--red);
}

.button:active {
	background-image: 
		linear-gradient(0deg, var(--black-low-opacity), var(--black-low-opacity)), 
		linear-gradient(180deg, var(--orange) 0%, var(--dark-orange) 100%);
	box-shadow: inset 0px 2px 2px var(--dark-red);
}

.button-form {
	color: var(--white);
	border: none;
}

/* Header */
.main-header {
	position: relative;
	padding-top: 9px;
}

.main-navigation {
	display: grid;
	grid-template-columns: auto 1fr auto;
}

/* Site navigation */
.site-navigation {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 0 24px 7px;
}

.site-navigation-item {
	line-height: 18px;
	margin-right: 32px;
}

.site-item-current {
	background-color: var(--orange-dim);
	border-radius: 26px;
}

/* Catalog */
.catalog-popup {
	display: none;
	position: absolute;
	background-color: var(--white-yellow);
	z-index: 1;
}

.catalog:hover .catalog-popup{
	display: block;
}

.catalog-caption {
	font-size: 14px;
	line-height: 18px;
}

.catalog-list a {
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: var(--dark-grey);
}

/* User navigation */
.user-navigation {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.user-navigation > div:not(:nth-child(3n)) {
	margin-right: 10px;
}

.search-background {
	background-color: var(--white-higher-opacity);
	border-radius: 50%;
	width: 32px;
	height: 32px;
}

.search {
	padding: 8px; 
}

.input-search {
	display: none;
	position: absolute;
}

.search-container:hover .input-search {
	display: block;
}

/* Login popup */
.login-popup-open,
.basket {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
}

.login-popup-open {
	display: flex;
	align-items: center;
	background-color: var(--white-higher-opacity);
	border-radius: 20px;
	padding: 6px 17px;
}

.login-popup-open svg {
	margin-right: 7px;
}

.login-popup {
	display: none;
	position: absolute;
	z-index: 1;
}

.login-container:hover .login-popup {
	display: block;
}

/* Basket popup */
.basket {
	display: block;
	position: relative;
	background-color: var(--white-higher-opacity);
	border-radius: 20px;
	padding: 7px 16px 7px 45px;
}

.basket::before {
	content: "";
	position: absolute;
	top: 5px;
	left: 16px;
	width: 21px;
	height: 20px;
	background-image: url(../img/basket.svg);
}

.basket-fill {
	color: var(--dark-grey);
	background-color: var(--white);
}

.basket-fill::before {
	background-image: url(../img/basket-fill.svg);
}

.basket-popup {
	display: none;
	position: absolute;
	background-color: var(--white-yellow);
	box-shadow: 0px 20px 20px var(--black-opacity);
	border-radius: 4px;	
	z-index: 1;
}

.basket-container:hover .basket-popup {
	display: block;
}

.basket-table {
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
}

.weight {
	color: var(--black);
}

.weight-price {
	color: var(--grey-lite);
}

.total-price {
	font-weight: 700;
	font-size: 15px;
	line-height: 16px;
}

/* Call us */
.call-us {
	position: absolute;
	top: 62px;
	right: 0;
	text-align: right;
}

.call-us-datetime {
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 7px;
}

.call-us-phone {
	font-size: 22px;
	line-height: 24px;
}

/* Creamy ice cream head */
.creamy-ice-cream-caption {
	font-size: 35px;
	line-height: 41px;
}

.breadcrumbs-item {
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
}

/* Slider */
.slider-section {
	position: relative;
}

.slider {
	padding: 323px 0 15px;
	margin-bottom: 37px;
}

.slider-list-item::before {
	content: "";
	position: absolute;
	top: -75px;
	left: -27px;
	width: 1200px;
	height: 966px;
	z-index: -3;
}

.slider-item-first::before {
	background-image: url(../img/backlight-green.png);
}

.slider-item-second::before {
	background-image: url(../img/backlight-blue.png);
}

.slider-item-third::before {
	background-image: url(../img/backlight-chocolate.png);
}

.slider-list-item {
	display: none;
}

.visible {
	display: block;
}

.slider-picture-back {
	position: absolute;
	top: 53px;
	right: 249px;
	z-index: -2;
}

.slider-picture-front {
	position: absolute;
	top: 10px;
	left: 250px;
	z-index: -1;	
}

.slider-text {
	width: 672px;
	text-align: center;
	font-size: 60px;
	line-height: 60px;
	margin: 0 auto 35px;
}

.slider-button-wrapper {
	width: 300px;
	padding: 0 auto;
	margin: 0 auto;
}
.slider-button {
	font-size: 32px;
	line-height: 44px;
	padding: 9px 23px;
}

.slider-controls {
	position: absolute;
	bottom: 24px;
}

.slide-control {
	width: 21px;
	height: 21px;
	background-color: transparent;
	border: 2px solid var(--white);
	border-radius: 50%;
	margin-right: 5px;
}

.slide-control:hover {
	background-color: var(--white-opacity);
	cursor: pointer;
}

.current {
	background-color: var(--white);
}

/* Bonus */
.raspberries-bonus,
.chocolate-bonus {
	background-image: url(../img/crimson-background.jpg);
	background-repeat: no-repeat;
	padding: 16px 16px 30px;
	border-radius: 16px;
}

.chocolate-bonus {
	background-image: url(../img/chocolate-background.jpg);
}

.bonus-caption {
	font-size: 35px;
	line-height: 41px;
	margin-top: 0;
	margin-bottom: 16px;
}

.bonus-text {
	font-size: 18px;
	margin-top: 0;
	margin-bottom: 58px;
}

.bonus-button {
	padding: 15px 22px 16px;
}

/* Products */
.hits-list,
.products-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.hits-list-item,
.products-item {
	position: relative;
}

.product-image {
	display: block;
	border-radius: 50%;
	z-index: -1;
}

.product-price {
	position: absolute;
	top: 150px;
	font-size: 45px;
	line-height: 45px;
}

.product-price-unit {
	font-size: 30px;
	line-height: 35px;
}

.product-text {
	font-weight: 500;
	text-align: center;
}

.product-button {
	display: none;
	position: absolute;
	left: 50%;
	bottom: 10px;
	transform: translateX(-50%);
	width: 200px;
	padding: 12px;
	box-sizing: border-box;
	z-index: 1;
}

.hits-list-item:hover,
.products-item:hover {
	background-color: var(--white-higher-opacity);
	box-shadow: 0px 20px 20px var(--black-high-opacity);
	border-radius: 4px;
}

.hits-list-item:hover > .product-button,
.products-item:hover > .product-button {
	display: block;
}

/* Pagination */
.pagination-item-link {
	font-weight: 500;
	line-height: 18px;
}

.disabled {
	color: var(--dark-grey);
}

/* About us */
.about-us {
	background-image: url(../img/wafer.jpg);
	padding: 24px 20px 30px;
	box-sizing: border-box;
	border-radius: 16px;
}

.about-us-caption {
	font-weight: 500;
	font-size: 24px;
	line-height: 30px;
	color: var(--dark-grey);
	margin-top: 0;
	margin-bottom: 17px;
}

.about-us-list {
	row-gap: 24px;
}

.about-us-text {
	position: relative;
	font-weight: 400;
	color: var(--dark-grey);
	padding-left: 55px;
}

.about-us-text::before {
	position: absolute;
	top: -9px;
	left: -1px;
	content: "";
	width: 49px;
	height: 49px;
}

.ice-cream::before {
	background-image: url(../img/ice-cream.svg);
}

.cow::before {
	background-image: url(../img/cow.svg);
}

.leaf::before {
	background-image: url(../img/leaf.svg);
}

.thermometer::before {
	background-image: url(../img/thermometer.svg);
}

/* News */
.news {
	background-image: url(../img/strawberry-background.jpg);
	height: 220px;
	padding: 19px 20px;
	box-sizing: border-box;
	border-radius: 16px;
}

.news-text {
	font-weight: 500;
	color: var(--dark-grey);
	margin-top: 0;
	margin-bottom: 3px;
}

.news-caption {
	width: 287px;
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	color: var(--dark-grey);
	margin-top: 0;

}

/* Mailing */
.mailing {
	background-image: url(../img/mail-background.png);
	padding: 5px;
	border-radius: 16px;
}

.mailing-wrapper {
	background-color: var(--white-yellow);
	height: 210px;
	padding: 25px 20px;
	box-sizing: border-box;
	border-radius: 16px;
}

.mailing-text {
	font-weight: 400;
	color: var(--grey-mailing);
	margin-top: 0;
	margin-bottom: 43px;
}

.mailing-input {
	font-size: 16px;
	line-height: 24px;
	border: 1px solid var(--grey-lite-opacity);
	width: 341px;
	padding: 9px 13px;
	border-radius: 6px;
	margin-right: 5px;
}

.mailing-button {
	padding: 10px 20px;
}

/* Map */
.map {
	position: relative;
	min-height: 430px;
}

.map-image {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: -1;
}

.map-wrapper {
	padding: 62px 0;
}

/* Our contacts */
.our-contacts {
	margin-left: auto;
	width: 303px;
	padding: 32px 25px;
	box-sizing: border-box;
	background-color: var(--white-lite);
	border-radius: 16px;
}

.our-contacts-caption,
.about-us-datetime {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: var(--dark-grey);
	margin: 0;
}

.our-contacts-address,
.about-us-phone {
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	color: var(--dark-grey);
}

.about-us-datetime {
	margin-bottom: 20px;
}

.our-contacts-button {
	padding: 13px 27px;
}

/* Footer */
.main-footer {
	display: grid;
	grid-template-columns: auto 1fr auto;
}

/* Socials */
.socials-list {
	display: flex;
}

.socials-item-link {
	width: 32px;
	height: 32px;
	background-image: url(../img/facebook.svg);
}

/* Extra info */
.extra-info {
	margin: 0 auto;
}

.extra-item:first-child {
	position: relative;
	font-weight: 700;
}
.extra-item {
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
}

/* Copyright */
.copyright {
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
}

/* Modal */
.modal {
	display: none;
	background-color: var(--white-yellow);
}
